<hr><h1>GISTS LIST</h1>
<h5>(scroll down to see more)<h5>
<hr>
<%= link_to 'ADD NEW GIST CODE' , new_gist_path, :class => "btn btn-success btn-md btn-active" %></button>
<br><br>
<table id="gists">
  <thead>
    <tr>
      <th>CODE</th>
      <th>LANG.</th>
      <th>DESC.</th>
      <th colspan="3">OPTIONS</th>
    </tr>
  </thead>

  <tbody id="my-gists">
	<%= render @gists %>
  </tbody>
</table>
<div id="infinite-scrolling">
  <center><%= will_paginate %></center>
</div>


